<table mat-table [dataSource]="resutados$ | async" class="mat-elevation-z8">

  <ng-container matColumnDef="insumo_id">
    <th mat-header-cell *matHeaderCellDef> ID Insumo </th>
    <td mat-cell *matCellDef="let element"> {{element.insumo_id}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="unidad_medida">
    <th mat-header-cell *matHeaderCellDef> U.Medida </th>
    <td mat-cell *matCellDef="let element"> {{element.unidad_medida}} </td>
  </ng-container>

  <ng-container matColumnDef="contenido_neto">
    <th mat-header-cell *matHeaderCellDef> Contenido Neto </th>
    <td mat-cell *matCellDef="let element"> {{element.contenido_neto}} </td>
  </ng-container>

  <ng-container matColumnDef="costo_por_unidad">
    <th mat-header-cell *matHeaderCellDef>  Costo/Unidad </th>
    <td mat-cell *matCellDef="let element"> {{element.costo_por_unidad | number: '1.0-4'}} </td>
  </ng-container>

  <ng-container matColumnDef="costo_empaque">
    <th mat-header-cell *matHeaderCellDef>  Costo/Empaque </th>
    <td mat-cell *matCellDef="let element"> {{element.costo_empaque}} </td>
  </ng-container>

  <ng-container matColumnDef="usuario_id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.usuario_id}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>